<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BertLang</title>

  <!-- Bootstrap core CSS -->

  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">

  <link href="{{ url_for('static', filename='bower_components/flag-icon-css/css/flag-icon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='bower_components/components-font-awesome/css/all.css') }}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">BertLang</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <!-- Page Content -->
  <div class="container">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <h1>Bert Languages SOTA</h1>
          <p class="lead">This is a collaborative resource to help researchers understand and find the best BERT model for a given dataset, task and language. The numbers here rely on self reported
          performance (we can give no guarantees for their accuracy. In the future, we hope to independently verify each of the models).
          </p>
          <p class="lead"> We currently have indexed <strong>{{stats.number_of_models}} </strong> BERT-based models,
            <strong>{{stats.number_of_languages}} </strong> Languages and <strong>{{stats.number_of_tasks}} </strong> Tasks.
            We have a total of <strong>{{stats.number_of_entries}}</strong> entries in this table.  </p>
          <p class="lead"> Curious about which is the best BERT model for named entity recognition in Italian <span class="flag-icon flag-icon-it"></span>? Type <em>"Italian NER"</em> in the search bar then!</p>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>Language</th>
            <th>Model</th>
            <th>Task</th>
            <th>Dataset</th>
            <th>Dataset-Domain </th>
            <th>Evaluation Measure</th>
            <th>Performance</th>
            <th>ML-BERT</th>
            <th>Difference with ML-BERT</th>
            <th>Source</th>
          </tr>
          </thead>
          <tbody>
          {% for row in json_data %}
          {% for task in row.tasks %}
          <tr>
            <td>{{row.language}} {{lang_to_flag[row.language] | safe }}</td>
            <td>{{row.name}}</td>
            <td><h5><span  data-toggle="tooltip" data-html="true" title="{{acronyms[task.name]}}" class="badge badge-primary">{{task.name}}</span></h5></td>
            <td><a href="{{task.dataset.link}}">{{task.dataset.name}}</a></td>
            <td>{{task.dataset.domain}}</td>
            <td>{{task.measure}}</td>
            <td><h5><span class="badge badge-pill badge-success">{{task.performance}}</span></h5></td>

            {% if  task.multi_lingual is not number  %}
            <td><h5><span class="badge badge-pill badge-dark">NoData</span></h5></td>
            <td><h5><span class="badge badge-pill badge-dark">NoData</span></h5></td>
            {% else %}
              <td><h5><span class="badge badge-pill badge-primary">{{task.multi_lingual}}</span></h5></td>
              <td><h5><span class="badge badge-pill badge-light">{{task.multi_difference}}</span></h5></td>
            {% endif%}
            <td><a href="#" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Source</a></td>
          </tr>
          {% endfor %}
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>

  </div>


<!--    <div class="row">-->
<!--      <div class="col-lg-12 text-center">-->
<!--        <h1 class="mt-5">BertLang</h1>-->
<!--        <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>-->
<!--        <ul class="list-unstyled">-->
<!--          <li>Bootstrap 4.3.1</li>-->
<!--          <li>jQuery 3.4.1</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- Bootstrap core JavaScript -->

  <script
          src="https://code.jquery.com/jquery-3.4.1.slim.js"
          integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


  <script>
    $(document).ready(function() {
      $('#example').DataTable();
    } );
  </script>
</body>

</html>
