<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bert Lang Street</title>

  <!-- Bootstrap core CSS -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">

  <link href="{{ url_for('static', filename='bower_components/flag-icon-css/css/flag-icon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='bower_components/components-font-awesome/css/all.css') }}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Bert Lang Street</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
        </ul>
      </div>
    </div>
    <img src="../static/favicon.ico"/>
  </nav>
  <br>
  <!-- Page Content -->
  <div class="container">
    <div class="page-header" id="banner">
      <div class="text-center">
        <img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid" alt="Responsive image">
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h4>Lost in (language-specific) <a href="https://arxiv.org/abs/1810.04805v1">BERT</a> models? We are here to help!</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead"> We currently have indexed <strong>{{stats.number_of_models}} </strong> BERT-based models,
            <strong>{{stats.number_of_languages}} </strong> Languages and <strong>{{stats.number_of_tasks}} </strong> Tasks.
            <br> We have a total of <strong>{{stats.number_of_entries}}</strong> entries in this table; we also show
            <strong>Multilingual Bert (mBERT) </strong> results if available! (see our  <a href="https://arxiv.org/abs/2003.02912"> paper</a>) <br> <br>
            Curious which BERT model is the best for named entity recognition in Italian<span class="flag-icon flag-icon-it"></span>? Just type <em>"Italian NER"</em> in the search bar!<br> </p>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="example" class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>Language</th>
            <th>Model</th>
            <th>NLP Task</th>
            <th>Dataset</th>
            <th>Dataset-Domain </th>
            <th>Measure</th>
            <th>Performance</th>
            <th>mBERT</th>
            <th>Difference with mBERT</th>
            <th>Source</th>
          </tr>
          </thead>
          <tbody>
          {% for row in json_data %}
          {% for task in row.tasks %}
          <tr>
            <td>{{row.language}}</td>
            <td>{{row.name}}</td>
            <td><h5><span  data-toggle="tooltip" data-html="true" title="{{acronyms[task.name]}}" class="badge badge-primary">{{task.name}}</span></h5></td>
            <td><a href="{{task.dataset.link}}">{{task.dataset.name}}</a></td>
            <td>{{task.dataset.domain}}</td>
            <td>{{task.measure}}</td>
            <td><h5><span class="badge badge-pill badge-success">{{task.performance}}</span></h5></td>

            {% if  task.multi_lingual is not number  %}
            <td><h5><span class="badge badge-pill badge-dark">N/A</span></h5></td>
            <td><h5><span class="badge badge-pill badge-dark">N/A</span></h5></td>
            {% else %}
              <td><h5><span class="badge badge-pill badge-primary">{{task.multi_lingual}}</span></h5></td>
              <td><h5><span class="badge badge-pill badge-light">{{task.multi_difference}}</span></h5></td>
            {% endif%}
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{task.source}}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><i class="fas fa-external-link-alt"></i>
                </a>
                <a href="{{task.code}}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><i class="fab fa-github"></i>
                </a>
              </div>
            </td>

          </tr>
          {% endfor %}
          {% endfor %}

          </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header">
            How to cite this<i class="fas fa-paperclip"></i>
          </div>
          <div class="card-body">
             <p><a href="https://arxiv.org/abs/2003.02912">What the [MASK]? Making Sense of Language-Specific BERT Models</a> </p>
             <pre><p class="card-text">@article{nozza2020what,
  title={What the [MASK]? Making Sense of Language-Specific BERT Models},
  author={Nozza, Debora and Bianchi, Federico and Hovy, Dirk},
  journal={arXiv preprint arXiv:2003.02912},
  year={2020}
}</p></pre>
          </div>
        </div>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header">
            Don't Forget! <i class="fas fa-cat"></i>
          </div>
          <div class="card-body">
            <p class="card-text">This is a <strong>collaborative</strong> resource to help researchers understand and find the best BERT model for a given dataset, task and language. The numbers here rely on self reported
              performance (we can give no guarantees for their accuracy. In the future, we hope to independently verify each of the models).</p>
            <p> <strong>Do you want to add your model?</strong> <a href="https://github.com/MilaNLProc/bertlang#how-to-contribute"> Click Here </a> </p>
            
          </div>
        </div>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header">
            Other References <i class="fas fa-book"></i>
          </div>
          <div class="card-body">
            <ul>
              <li><p class="card-text"><a href="https://arxiv.org/abs/2002.12327"> A Primer in BERTology: What we know about how BERT works </a> </p></li>
              <li><p class="card-text"><a href="https://github.com/tomohideshibata/BERT-related-papers"> Collection of Bert Related Papers</a> </p></li>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- Footer -->
  <footer class="page-footer font-small teal pt-4">
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright MilaNLP - LICENSE: <a href="https://creativecommons.org/licenses/by-sa/4.0/"> CC-BY-SA </a> <br> <i class="fab fa-creative-commons fa-2x"></i>
      <i class="fab fa-creative-commons-by fa-2x"></i>
      <i class="fab fa-creative-commons-sa fa-2x"></i>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

<!--    <div class="row">-->
<!--      <div class="col-lg-12 text-center">-->
<!--        <h1 class="mt-5">BertLang</h1>-->
<!--        <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>-->
<!--        <ul class="list-unstyled">-->
<!--          <li>Bootstrap 4.3.1</li>-->
<!--          <li>jQuery 3.4.1</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- Bootstrap core JavaScript -->

  <script
          src="https://code.jquery.com/jquery-3.4.1.slim.js"
          integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


  <script>
    $(document).ready(function() {
      $('#example').DataTable({ responsive: true});
    } );
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101620301-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-101620301-3');
  </script>

</body>

</html>
